.top-navigation {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  list-style-type: none;
  padding-top: 8px;
}

.top-navigation li {
  margin-left: 15px;
  padding: 3px;
  border-radius: 2px;
}

.top-navigation li:hover {
  box-shadow: inset 0 0 125px 125px rgba(255, 255, 255, 0.1);
}
