.appImage {
  max-width: inherit;
  border-radius: 9px;
  border-color: #35c0ff;
  border-width: 3px;
  border-style: solid;
  transition: border-color 250ms ease-in-out;
}

.appI:hover {
  border-color: #faff66;
}
